
.route-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f8f68138;

  .content {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    gap: 15px;

    @media screen and (min-width: 750px) {
      max-width: 500px;
    }

    h2 {
      margin-bottom: 0px;
      font-family: serif;
      font-size: 48px;
    }

    button {
      background-color: black;
      color: white;
    }

    .form-container {
      background-color: white;

      .row {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;

        &.col {
          display: flex;
          flex-direction: column;
        }

        mat-form-field {
          width: 100%;
        }
      }
    }

  }
}
